{% extends 'main_page.html' %}
{% load static %}

{% block content %}
<div class="card" style="width: 18rem;">
  {% if post.image %}
    <img src="{{ post.image.url }}" class="card-img-top" style="width: 287px; height: 200px" alt="{{ post.title }}">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content }}</p>
    <p class="card-text">{{ post.rate }}</p>
    {%if post.author == request.user%}
    <a href="/post/{{post.id}}/update<" class="btn btn-primary">Update</a>
    {%endif%}
  </div>
  <form>
    {{comment_form.as_p}}
  </form>
</div>
{% endblock %}
